@import url('https://fonts.googleapis.com/css2?family=Capriola&family=Roboto:wght@400;500;700&display=swap');

// Color system
$black: #333333 !default;
$gray: #717171 !default;
$yellow: #FBAA2A !default;
$lightyellow: #FFE1AB !default;
$lighteryellow: #fff7e8 !default;

body {
  background-color: $lightyellow;
}

h1,
h2,
h3,
span {
  font-family: 'Capriola', sans-serif;

  color: $black;
}

p {
  font-family: 'Roboto', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 600px;
  padding: 32px 16px;
  
  .header {
    margin: 16px 0;
    a {
      display: flex;
      gap:8px;
      align-items: center;
      text-decoration: none;
      span {
        margin-top:2px;
        font-size: 32px;
      }
      h1 {
        margin:8px 0;
        font-size: 20px;
        text-align: center;
      }
    }
  }

  .dropdown {
    display: flex;
    flex-direction: column;
    border: 2px solid $black;
    box-shadow: $black 8px 8px 0 0;
    background-color: $yellow;
    border-radius: 8px;
    max-height: 1000vh;
    transition: max-height .3s ease-in-out;
    margin-bottom: 16px;
    overflow: hidden;

    &.collapsed {
      max-height: 56px;
    }

    .dropdown-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      padding: 8px 16px;
      border-bottom: 2px solid $black;

      h2 {
        padding-left: 8px;
      }

      span {
        display: inline-block;
        font-size: 40px;
        transition: transform 0.2s ease;
        transform: rotate(180deg);
      }

      &.collapsed {
        span {
          transform: rotate(0);
        }
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      padding: 0 16px 0;
      background-color: $lighteryellow;

      .pagination-name {
        padding: 16px 20px 0 ;  
        font-weight: bold;
      }

      &:has(>.scooters,.grtc,.carpool) {
        padding: 0;
      }

      .scooters, .grtc, .carpool {
        width: 100%;
        position: relative;

        .swiper-container {

          .swiper-wrapper {
            .swiper-slide {
              padding: 8px 16px 16px;
              box-sizing: border-box;
              height: fit-content;
              // overflow: hidden;

              .scootercard {
                width: 100%;
                // height: 100%;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                border: 2px solid $black;
                background-color: $lightyellow;
                border-radius: 8px;
                overflow: hidden;
                margin-top: 40px;

                &::-webkit-scrollbar {
                  display: none;
                }

                p {
                  color: $gray;
                  font-weight: 700;
                  line-height: 18px;
                }

                .imgwrap {
                  width: 100%;
                  box-sizing: border-box;
                  padding-top: 65%;
                  
                  border-bottom: 2px solid $black;
                  background-repeat: no-repeat;
                  background-size: cover;
                  background-attachment: fixed;
                  background-position: center;

                  &.lime {
                    background-image: url('./assets/lime.png');
                  }

                  &.spin {
                    background-image: url('./assets/spin.png');
                  }

                  &.bird {
                    background-image: url('./assets/bird.png');
                  }

                  &.grtcimg {
                    background-image: url('./assets/grtc.jpeg');
                  }
                  
                  &.pulseimg {
                    background-image: url('./assets/pulse.jpeg');
                  }

                  &.vcucarpool {
                    background-image: url('./assets/vcurideshare.jpg');
                  }

                  &.ridefinders {
                    background-image: url('./assets/ridefinders.jpg');
                  }
                }

                >div {
                  padding: 8px;
                }

                .scooterdetails {
                  margin-top: 8px;
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  gap: 8px;

                  .scooter-name-price {
                    margin-bottom: 8px;

                    h3 {
                      font-size: 32px;
                      margin-bottom: 8px;
                    }
                  }

                  .downloadlinks {
                    display: flex;
                    gap: 8px;
                    align-self: stretch;

                    a {
                      display: flex;
                      width: 100%;
                      padding: 4px 8px;
                      justify-content: center;
                      align-items: center;
                      gap: 10px;
                      text-decoration: none;
                      border-radius: 8px;
                      border: 2px solid $black;
                      background: $yellow;
                      margin-bottom: 8px;

                      img {
                        width: 24px;
                      }

                      span {
                        color: #333;
                        text-align: center;
                        font-family: Capriola;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                      }
                    }
                  }

                  .available-passes {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    align-self: stretch;

                    .pass {
                      display: flex;
                      padding: 8px;
                      flex-direction: column;
                      align-items: flex-start;
                      gap: 16px;
                      align-self: stretch;
                      border-radius: 8px;
                      border: 2px solid $black;
                      background-color: $lighteryellow;

                      &:has(iframe) {
                        padding: 0;
                        overflow: hidden;
                        padding-top: 100%;
                        position: relative;
                      }
                      iframe {
                        position: absolute;
                        top:0;
                        left:0;
                        bottom:0;
                        right:0;
                        width: 100%;
                        height: 100%;
                      }

                      .pass-name-price {
                        display: flex;
                        justify-content: space-between;
                        align-self: stretch;
                        gap:48px;

                        p {
                          color: $black;
                        }
                      }

                      ul.pass-details {
                        list-style: url('./assets/check_circle_FILL0_wght400_GRAD0_opsz24.svg');
                        margin-left: 32px;

                        li {
                          padding: 0;
                          margin-bottom: 4px;

                          p {
                            transform: translateY(-6px);
                            color: $black;
                            font-weight: 400;
                          }
                        }
                      }

                      .downloadlinks {
                        display: flex;
                        gap: 8px;
                        align-self: stretch;
            
                        a {
                          display: flex;
                          width: 100%;
                          padding: 8px 8px;
                          justify-content: center;
                          align-items: center;
                          gap: 10px;
                          text-decoration: none;
                          border-radius: 8px;
                          border: 2px solid $black;
                          background: $yellow;
            
                          img {
                            width: 28px;
                            opacity: .7;
                          }
            
                          span {
                            color: #333;
                            text-align: center;
                            font-family: Capriola;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .swiper-pagination {
          position: absolute;
          top: 12px;
          left: 0;
          right: 0;
          margin: 0 auto;
          display: flex;
          justify-content: center;
          padding: 0 16px;
          gap: 8px;

          .swiper-pagination-bullet {
            padding: 4px 8px;
            width: 100%;
            height: auto;
            border: 2px solid $black;
            background-color: $lightyellow;
            border-radius: 8px;
            opacity: 1;

            &.swiper-pagination-bullet-active {
              background-color: $yellow;
            }
          }

          &.scooter {
            .swiper-pagination-bullet {
              &:nth-of-type(1)::after {
                content: "Lime";
              }
  
              &:nth-of-type(2)::after {
                content: "Spin";
              }
  
              &:nth-of-type(3)::after {
                content: "Bird";
              }
            }
          }

          &.grtcbus {
            .swiper-pagination-bullet {
              &:nth-of-type(1)::after {
                content: "GRTC";
              }
  
              &:nth-of-type(2)::after {
                content: "Pulse";
              }
            }
          }

          &.carpools {
            .swiper-pagination-bullet {
              padding: 6px 4px;
              font-size: 12px;
              &:nth-of-type(1)::after {
                content: "VCU RideShare";
              }
  
              &:nth-of-type(2)::after {
                content: "GRTC RideFinders";
              }
            }
          }
        }

        .swiper-prev,
        .swiper-next {
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 1;
          position: absolute;
          width: 38px;
          height: 38px;
          top: 0;
          margin-top: 60%;
          cursor: pointer;
          background-color: $lighteryellow;
          border-radius: 100%;

          span {
            text-align: center;
            font-size: 48px;
          }
        }

        .swiper-prev {
          left:24px;
          // transform: translateX(-40px);
        }

        .swiper-next {
          right:24px;
          // transform: translateX(40px);
        }
      }

      .defaultoptions {
        padding: 16px 0 16px;
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: scroll;

        &::-webkit-scrollbar {
          display: none;
        }

        p {
          color: $gray;
          font-weight: 700;
          line-height: 18px;
        }

        .imgwrap {
          width: 100%;
          box-sizing: border-box;
          padding-top: 65%;
          border: 2px solid $black;
          border-radius: 8px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;

          &.ramsafe {
            background-image: url('./assets/ramsafe.png');
          }

          &.uber-voucher {
            background-image: url('./assets/uber-grtc.jpg');
          }
        }

        .transitdetails {
          padding-top: 16px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 16px;

          .transit-name-details {
            margin-bottom: 4px;

            h3 {
              font-size: 32px;
              margin-bottom: 8px;
            }
          }

          .downloadlinks {
            display: flex;
            gap: 8px;
            align-self: stretch;

            a {
              display: flex;
              width: 100%;
              padding: 4px 8px;
              justify-content: center;
              align-items: center;
              gap: 10px;
              text-decoration: none;
              border-radius: 8px;
              border: 2px solid $black;
              background: $yellow;

              img {
                width: 24px;
              }

              span {
                color: #333;
                text-align: center;
                font-family: Capriola;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
              }
            }
          }



          .subcard-category {
            display: flex;
            flex-direction: column;
            gap: 8px;
            align-self: stretch;

            .subcard {
              display: flex;
              padding: 8px;
              flex-direction: column;
              align-items: flex-start;
              gap: 16px;
              align-self: stretch;
              border-radius: 8px;
              border: 2px solid $black;
              background-color: $lighteryellow;

              &:has(iframe) {
                padding: 0;
                overflow: hidden;
                padding-top: 100%;
                position: relative;
              }
              iframe {
                position: absolute;
                top:0;
                left:0;
                bottom:0;
                right:0;
                width: 100%;
                height: 100%;
              }

              .subcard-title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                align-self: stretch;

                p {
                  color: $black;
                }
              }

              ul.subcard-details {
                list-style: url('./assets/check_circle_FILL0_wght400_GRAD0_opsz24.svg');
                margin-left: 32px;

                li {
                  padding: 0;
                  margin-bottom: 4px;

                  p {
                    transform: translateY(-6px);
                    color: $black;
                    font-weight: 400;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}